header.header
  .header__column
    a(href=routes.home)
      i.fab.fa-youtube
  .header__column
    form(action=routes.search, method="get")
      input(type="text", placeholder="비디오 검색하기.", name="term")
  .header__column
    ul
      li
        a(href=routes.join) 회원가입
      li
        a(href=routes.login) 로그인