.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  button {
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    span {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  .social-login--github {
    background-color: $black;
    color: white;
  }

  .social-login--kakao {
    background-color: #f7e600;
    color: #964b00;
  }
}